---
---

@import "{{ site.theme }}";

.small-icon { font-size: 15px; }
.medium-icon { font-size: 30px; }
.large-icon { font-size: 50px; }

.share-divider {
	width: 100%;
	margin: 20px auto;
	border-top: 2px solid rgb(216, 216, 216); }